* {
  margin: 0;
}
.navbar {
  display: flex;
  border: 1px solid transparent;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  height: 60px;
  align-items: center;
  background-color: rgb(16, 15, 22);
  width: 75%;
  margin: auto;
  color: white;
}
.navbar > div {
  margin: auto;
}
